 .fc-toolbar-title,
    .fc-col-header-cell-cushion,
    .fc-daygrid-day-number {
      text-transform: capitalize;
    }

    /* Cambiar el color del botón "Hoy" y flechas de navegación */
    .fc-button,
    .fc .fc-button-primary {
      background-color: orange !important;
      border-color: orange !important;
      color: white !important;
    }

    .fc .fc-button-primary:not(:disabled):hover {
      background-color: #cc7000 !important;
      border-color: #cc7000 !important;
    }